.ASButton{ 
    font-family: sans-serif;
    font-size: 32px;
    
    color: white;
    box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color:blue;
    border-color: black;
    border-radius: 32px;
    margin:inherit;
    transition-duration: 0.4s;

} 
.ASButton:hover {
    background-color:red;
    cursor: pointer;
}
  
.main{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;

}
