div.main{
    border-radius: 12px;
    border-color: black;
    border: solid;
}

div.caseStatBar{
   text-align: center;
    margin: 64px;
    padding-left: 32px;
    border-radius: 12px;
    border-color: black;
    border: solid;
   
}

div.deathStatBar{
    text-align: center;
    margin: 64px;
    padding-left: 32px;
    border-radius: 12px;
    border-color: black;
    border: solid;
   
}