root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }

  main {
    padding: 32px;
    margin-top: 16pxpx;
    margin-bottom: 16px;
    background-color: #0066ff;
  }

  .descTitle{
    border-bottom:  solid;
    border-color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
  }

  .descContent{
    border-bottom:  solid;
    border-color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  footer {
    padding: 3px 2px;
    margin-top: auto;
    background-color: grey;
  }