.grid {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  background-color: white;
  color: #6a5d5d;
}

.grid tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.grid tr {
  display: flex;
  justify-content: space-between;
}

.grid td {
  padding: 0.5rem;
}
